<div *ngIf="(selectedLabLink$ | async) === 'hot' else other">
  <app-image-slider [sliders]="imageSliders$ | async" #imageSlider></app-image-slider>
  <app-horizontal-grid>
    <div appGridItem *ngFor="let item of channels$ | async">
      <img [src]="item.icon" alt="" [appGridItemImage]="'2rem'" [fitMode]="'cover'">
      <span [appGridItemTitle]="'0.6rem'">{{ item.title }}</span>
    </div>
  </app-horizontal-grid>
</div>
<ng-template #other>
  other works!
</ng-template>
<!-- <a [routerLink]="[ 'grand' ]">link to grand</a> -->
<a [routerLink]="[ 'grand' ]" routerLinkActive="active" [queryParams]="{name: 'nie'}">link to grand</a>
<router-outlet></router-outlet>